# Create some similar file to this and name them .env and .env.dev
# Process it with: dart run build_runner watch --delete-conflicting-outputs
# Sometimes, if you change this and does not take into effect, you need to do a `flutter clean` before

CURRENCY=g1

SENTRY_DSN=https://306345cb87ee4e1cbbe9023fb4afc5fc@sentry.comunes.org/6

# Nodes space-separated
#
# v1
# The duniter nodes are only used at boot time, later it tries to calculate periodically the nodes
# that are available with the less latency
DUNITER_NODES=https://g1.duniter.org https://g1.le-sou.org https://g1.cgeek.fr https://g1.monnaielibreoccitanie.org https://g1.duniter.fr https://g1.le-sou.org https://g1.cgeek.fr
CESIUM_PLUS_NODES=https://g1.data.e-is.pro
GVA_NODES=https://g1v1.p2p.legal/gva https://g1.asycn.io/gva https://duniter.pini.fr/gva https://duniter-v1.comunes.net/gva https://gva.seeds4c.org/gva
#
# v2
ENDPOINTS=wss://g1.p2p.legal/ws wss://g1.asycn.io/ws/ wss://g1.axiom-team.fr/ws wss://g1.coinduf.eu wss://g1.gyroi.de wss://archive-rpc.g1.brussels.ovh wss://g1.rendall.fr/ws wss://g1.pini.fr/ws wss://g1v2archive.syoul.fr/ wss://duniter-v2-vjrj-gtest.comunes.net/ws
DUNITER_INDEXER_NODES=https://g1-squid.axiom-team.fr/v1/graphql https://g1-squid.asycn.io/v1/graphql https://squid.g1.coinduf.eu/v1/graphql https://squid.g1.gyroi.de/v1/graphql https://squid.g1.brussels.ovh/v1/graphql https://g1-squid.pini.fr/v1/graphql https://squidv2s.syoul.fr/v1/graphql
DATAPOD_ENDPOINTS=https://datapod.gyroi.de/v1/graphql
IPFS_GATEWAYS=https://gyroi.de https://gateway.datapod.coinduf.eu/
