# Create some similar file to this and name them .env and .env.dev

CURRENCY=g1

SENTRY_DSN=https://306345cb87ee4e1cbbe9023fb4afc5fc@sentry.comunes.org/6

# Nodes space-separated
#
# v1
# The duniter nodes are only used at boot time, later it tries to calculate periodically the nodes
# that are available with the less latency
DUNITER_NODES=https://g1.duniter.org https://g1.le-sou.org https://g1.cgeek.fr https://g1.monnaielibreoccitanie.org https://g1.duniter.fr https://g1.le-sou.org https://g1.cgeek.fr
CESIUM_PLUS_NODES=https://g1.data.le-sou.org https://g1.data.e-is.pro https://g1.data.presles.fr https://g1.data.mithril.re https://g1.data.brussels.ovh https://g1.data.pini.fr
GVA_NODES=https://g1v1.p2p.legal/gva https://g1.asycn.io/gva https://duniter.pini.fr/gva https://duniter-v1.comunes.net/gva
#
# v2
ENDPOINTS=wss://gt.elo.tf/ws wss://gtest.coinduf.eu/ws wss://duniter-v2-vjrj-gtest.comunes.net/ws wss://gt.p2p.legal/ws/ws
DUNITER_INDEXER_NODES=https://squid.gtest.coinduf.eu/v1/graphql https://duniter-v2-vjrj-squid.comunes.net/v1/graphql https://gt-squid.axiom-team.fr/v1/graphql
DATAPOD_ENDPOINTS=https://datapod.gyroi.de/v1/graphql
IPFS_GATEWAYS=https://gyroi.de https://gateway.datapod.coinduf.eu/

GITLAB_TOKEN=something

