[Desktop Entry]
Version=1.0
Name=Ẑelkova
GenericName=Ẑelkova
Comment=Ẑelkova - Portefeuille ẐEN MULTIPASS pour l'écosystème UPlanet
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;duniter;g1;zen;uplanet
#Exec=/usr/local/lib/zelkova/zelkova
